/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
}

p {

}

a {

}

/* Колонки */

.row {
    display: flex;
}
.col {
    flex: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}


/* Потом селекторы по классам */

.text-input {
    border-color: #EBDCF9;
    border-width: 1px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 8px;
}

.button {
    border-width: 0px;
    border-radius: 4px;
    background-color: #554AF0;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
    border-color: #EBDCF9;
    border-width: 1px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 8px;
}


/* Страничка жанров и тегов */

.genre-first {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    border-width: 0px;
    border-radius: 4px;
    background-color: #E1F5EA;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.genre-second {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 75%;
    border-width: 0px;
    border-radius: 4px;
    background-color: #CBEDFF;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.genre-third {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 50%;
    border-width: 0px;
    border-radius: 4px;
    background-color: rgba(251, 236, 221, 1);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.genre-fourth {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 25%;
    border-width: 0px;
    border-radius: 4px;
    background-color: #EBDCF9;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tag {

}

/* Страничка популярного */

.cover {
    width: 150px;
}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {
    border-width: 0px;
    border-radius: 4px;
    background-color: #554AF0;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}
